{% extends 'base.html' %}

{% block content %}
    <div class="has-text-centered mb-3">
        <a class="button is-default" href="/">Go Home</a>
    </div>
    <div class="columns">
        <div class="column">
            <div class="card mb-4">
                <div class="crad-header">
                    <p class="card-header-title">{{ todo.name }}</p>
                </div>
                <div class="card-content">
                    <div class="content">
                        It's due {{ todo.due_date }}
                    </div>
                </div>
                <div class="card-footer">
                    <a class="button is-primary ml-2 mb-2" href="/{{ todo.id }}/update">Update</a>
                    <a class="button is-danger ml-2 mb-2" href="/{{ todo.id }}/delete">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}